.App {
  text-align: center;
}

.score, .record {
  font-size: 24px;
  text-align: right;
  width: 100px;
}

.score {
  position: absolute;
  top: 0%;
  left: 90%;
  transform: translateX(-10%);
}

.record {
  position: absolute;
  top: 0%;
  left: 95%;
  transform: translateX(-10%);
  color: gray;
}

.btns-container {
  position: absolute;
}

button {
  margin: 10px;
  margin-top: 20px;
  margin-right: 0px;
}